body{
    font-family: sans-serif;
    color: black;
}
#webname{
    text-align: center;
}
header{
    text-align: center;
    margin-top: -3%;
    margin-inline: -6%;
    font-size: x-large;
    background: url(bg1.jpg);
    padding-top: 16%;
    padding-bottom: 19%;
}
#headerpara{
    max-width: 700px;
    margin: auto;
    font-size: large;
}
